################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/c3langu/Debug
/c3langu/Release
/C3Simple/Debug
/C3Simple/Release
/Charu3_[1-9]*
/plugin/*/*.sln
/plugin/*/*.vcxproj
/plugin/*/*.filters
/plugin/*/*.user
Debug
Release
*.idb
*.ipch
*.pdb
*.suo
*.VC.*
*.aps
*~
